:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  --main-color: #d4af37;
  --light-yellow-color: #e6c766;
  --sub-yellow-color: #f9ecc4;
  --light-yellow-shadow: rgba(230, 199, 102, 0.2);
  --black-color: rgba(0, 0, 0, 0.9);
  --black-color-80: rgba(0, 0, 0, 0.8);
  --black-color-60: rgba(0, 0, 0, 0.6);
  --black-color-40: rgba(0, 0, 0, 0.4);
  --black-color-30: rgba(0, 0, 0, 0.3);
  --black-color-20: rgba(0, 0, 0, 0.2);
  --white-color: rgba(255, 255, 255, 0.95);
  --common-border-color: #f0f0f0;
  --color-error: #f53f3f;
  --main-color-red: #c8161e;
  --bg-color: #f5f5f5;
  --gray-color: #666666;

  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --font-size-12: 12px;
  --font-size-11: 11px;
  --font-size-10: 10px;

  --border-radius-12: 12px;
  --border-radius-8: 8px;
  --content-padding: 16px;

  // 项目样式
  --header-bottom-height: 10px;
  --base-sidebar-width: 240px;
  --base-sidebar-width-hidden: -240px;
  --base-sidebar-width-collapse: 54px;
  --tag-view-item-height: 32px;
  --navbar-height: 72px;
  // 2px是tagview的边框
  --app-height: calc(
    100vh - var(--navbar-height) - var(--tag-view-item-height) - 2px -
      var(--header-bottom-height)
  );

  /**
   * element
   */
  --menu-item-height: 64px;
  --menu-sub-item-height: 60px;
}

body {
  padding: 0;
  margin: 0;
}

// vant
.van-picker__confirm {
  color: var(--main-color) !important;
  font-size: var(--font-size-16) !important;
}

.van-picker__cancel {
  font-size: var(--font-size-16) !important;
}

.van-picker__toolbar {
  padding: var(--content-padding);
}

/**
 * toast 弹窗背景颜色
 */
.van-popup {
  background-color: var(--black-color) !important;
}
.van-dialog {
  background-color: #fff !important;
  width: var(--van-dialog-width) !important;
}

/**
 * 下拉菜单
 */
.el-menu {
  border-right: none !important;
  // 一级菜单，有子菜单
  .el-sub-menu__title {
    height: var(--menu-item-height);
  }
  // 一级菜单下面有字菜单
  .el-sub-menu {
    .el-menu-item {
      height: var(--menu-sub-item-height);
      .menu-title {
        font-size: var(--font-size-14);
        margin-left: 8px;
      }
    }
    .el-sub-menu__title {
      font-size: var(--font-size-16);
      font-weight: 500;
      &:hover {
        background-color: transparent;
      }
    }
  }

  // 子菜单或没有子菜单的那个
  .el-menu-item {
    height: var(--menu-item-height);
    &:hover {
      background-color: var(--light-yellow-color) !important;
    }
  }
  // 菜单标题
  .menu-title {
    font-size: var(--font-size-16);
    font-weight: 500;
  }
}

/* 下拉列表 */
.el-dropdown-menu {
  .el-dropdown-menu__item {
    color: var(--black-color-60);
    &:hover {
      background-color: var(--white-color) !important;
      color: var(--main-color) !important;
    }
  }
}
