.page-container {
  position: relative;
  box-sizing: border-box;
  min-height: var(--mini-page-height);
  background-color: var(--white-color);
  overflow-y: auto;
  padding: var(--content-padding);
  border-radius: var(--border-radius-8);
}