// vant
.van-picker__confirm {
  color: var(--main-color) !important;
  font-size: var(--font-size-16) !important;
}

.van-picker__cancel {
  font-size: var(--font-size-16) !important;
}

.van-picker__toolbar {
  padding: var(--content-padding);
}

/**
 * toast 弹窗背景颜色
 */
.van-popup {
  background-color: var(--black-color) !important;
}
.van-dialog {
  background-color: #fff !important;
  width: var(--van-dialog-width) !important;
}
